*{
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background: url("../img/old_world_map.jpeg") no-repeat;
    background-size: 100vw 100vh; 
    height: 100vh;
}

header{
    height: 30vh;
}

h1{
    font-size: 16vh;
    text-align: center;
    margin-top: 50px;
}

main{
    text-align: center;
    
}

button{
    font-size: 6vh;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-collection{
    display: flex;
    justify-content: space-evenly;
}

.time{
    font-weight: 600;
    font-size: 14vh;
}